/* Reset dei margini e dei padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Stile del corpo della pagina */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

/* Intestazione */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

/* Titolo nell'intestazione */
header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

/* Sottotitolo nell'intestazione */
header p {
    font-size: 1.2em;
}

/* Stile delle sezioni */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Titoli delle sezioni */
h1, h2 {
    color: #007BFF;
}

/* Link */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Piede di pagina */
footer {
    text-align: center;
    padding: 1em;
    background-color: #007BFF;
    color: #fff;
}